html, body, #app {
    height: 100%;
    margin: 0;
}

#grand-container{
   /* border: 1px solid black; */
   height: 99%;
   width: 99%;
   margin: 0 auto;
   
}

.info-area, .main-area{
    display: inline-block;
    height: 100%;
}

.info-area{
    width: 30%;
    box-shadow:inset 0px 0px 0px 1px #811C1C;
}

.main-area{
    width: 70%;
    box-shadow:inset 0px 0px 0px 1px #20306E;
    vertical-align: top;
}